SMTP_HOST=smtp.example.org
SMTP_PORT=465
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_USE_STARTTLS=false
SMTP_USE_SSL=true
MAIL_FROM_ADDRESS=bot@vaterstetten-in-zahlen.de
MAIL_TO_ADDRESSES=felix@vaterstetten-in-zahlen.de

GENESIS_LFSTAT_USERNAME=""
GENESIS_LFSTAT_PASSWORD=""
