[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arcgis = "~=1.9.1"
beautifulsoup4 = "~=4.9"
ipython = "~=7.31.1"
ipywidgets = "~=7.6.5"
jupyter-server = ">=1.17.0"
notebook = ">=6.4.12"
pillow = ">=9.1.1"
pytelegrambotapi = "~=3.7"
python-interface = "~=1.6.1"
requests = "~=2.25"
ujson = ">=5.4.0"

[dev-packages]

[requires]
python_version = "3.8"
