.action-button > i,
a > i {
  margin-right: 4px;
}

.action-button > a {
  color: inherit;
}

.main-header > .logo {
  text-align: start;
}

.main-header > .logo::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-image: url("/assets/logo.svg");
  background-size: contain;
  vertical-align: middle;
}

.navbar-nav .action-button {
  padding: 14px 16px;
  color: #fff;
  background-color: inherit;
  border: none;
  border-radius: 0;
}

.navbar-nav .action-button:focus,
.navbar-nav .action-button:hover {
  color: #fff;
  background-color: #555299;
}

.dropdown-menu > li > a {
  padding: 6px 8px;
  color: #333;
}

/* make select dropdown appear above Leaflet's zoom controls */
.selectize-dropdown {
  z-index: 1001;
}
