.main-header > .logo {
  text-align: start;
}

.main-header > .logo::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-image: url("/assets/logo.svg");
  background-size: contain;
  vertical-align: middle;
}

.btn-header-dropdown {
  padding: 14px 16px;
  color: #fff;
  background-color: inherit;
}

.btn-header-dropdown:focus,
.btn-header-dropdown:hover {
  color: #fff;
  background-color: #555299;
}

.dropdown-menu > li > a {
  padding: 6px 8px;
  color: #333;
}

/* make select dropdown appear above Leaflet's zoom controls */
.selectize-dropdown {
  z-index: 1001;
}
